/z3list/build/
/hashTable/nbproject/private/
/2semester/Homework3/HashTable/nbproject/private/
/2semester/Homework3/HashTable/build/
/2semester/Homework3/Task3/nbproject/private/
/2semester/Homework3/task3/nbproject/private/
/2semester/Homework3/task3/build/
/2semester/Homework3/t3/nbproject/private/
/2semester/Homework3/t3/build/
/2semester/Homework3/task2/nbproject/private/
/2semester/Homework4/task2/build/
/2semester/Homework3/task4/nbproject/private/
/2semester/Homework5/task2/nbproject/private/
/2semester/Homework5/turn/nbproject/private/
/2semester/Homework5/queue/nbproject/private/
/2semester/ReferenceWork/queue/build/
/2semester/Homework4/task2/dist/
/2semester/Homework5/task2/build/
/2semester/Homework7/hw7.task1/List/nbproject/private/
/2semester/Homework7/hw7.task1/List/build/
/2semester/Homework7/hw7.task1/Stack/nbproject/private/
/2semester/Homework7/hw7.task1/Stack/build/
/2semester/Homework6/clock/nbproject/private/
/2semester/Homework6/clock/build/
/2semester/Homework6/Clock/nbproject/private/
/2semester/Homework7/hw7.task2/Set/nbproject/private/
/2semester/Homework7/hw7.task2/Set/build/
2semester/ReferenceWork/queue/nbproject/private/private.xml

2semester/ReferenceWork/queue/nbproject/private/private.xml
/2semester/Homework6/hw6.2/clock/nbproject/private/
/2semester/Homework6/hw6.2/clock/build/